body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: black;
    padding: 0.8em 0.5em;
    height: 2em;
    max-height: 3em;
    position: sticky;
    top: 0;
}
header * {
    color: white;
    margin: 0;
}
header > * {
    display: inline-block;
    font-size: x-large;
    font-weight: normal;
}
header > *::after {
    content: "·";
    padding: 0 0.5em;
}
header > *:last-child::after {
    content: "";
}
header a, footer a {
    text-decoration: none;
    font-weight: bold;
}
article {
    padding: 0 1em 1em 1em;
    margin-bottom: 2em;
}
article a, footer a {
    text-decoration: none;
    color: #3465a4;
}
article a:hover, article a:active, footer a:hover, footer a:active {
    color: #f57900;
}
body > footer {
    font-size: smaller;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: right;
    background: white;
}
body > footer p {
    margin: 0.5em 1em 0.5em 0.2em;
}
body > footer a {
    text-decoration: none;
}
.overview {
    min-width: 50em;
    border-collapse: collapse;
}
.overview thead {
    font-size: larger;
    background-color: white;
    position: sticky;
    top: 3em;
    text-align: left;
}
.overview thead th, .fieldlist thead th {
    padding: 0.3em 0.3em;
    min-width: 3em;
    text-align: center;
}
.overview tbody th {
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding-top: 0.5em;
}
.overview td, .fieldlist td {
    padding: 0.25em 0.3em;
}
.overview tbody tr:nth-child(even), .fieldlist tbody tr:nth-child(even) {
    background-color: #eee;
}
.overview .num, .fieldlist .num {
    text-align: right;
}
.fieldlist {
    border-collapse: collapse;
}
.fieldlist .description p {
    margin: 0.5em 0;
}
.fieldlist .description p:first-child {
    margin-top: 0;
}
.fieldlist .description p:last-child {
    margin-bottom: 0;
}
.fieldlist td {
    vertical-align: top;
}
.fieldlist .editable {
    position: relative;
}
.fieldlist .editable .edit {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
    font-size: small;
    background: white;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 0.1em 0.2em;
    margin: 0.2em;
}
.fieldlist .editable .edit:hover {
    opacity: 1;
}
.hexnum {
    font-family: monospace;
}
