{% extends "base.html" %}
{% block title %}
    Realtek - Register table {{platform }} - {{ register.name | upper }}
{% endblock %}
{% block header %}
{{ super() }}
<h2>{{ platform }} register: {{ register.name | upper }}</h2>
{% endblock %}
{% block content %}
{{ super() }}
<h3>Details</h3>
<dl>
    <dt>Register name</dt><dd>{{ register.name }}</dd>
    <dt>Register offset</dt><dd>{{ "%04x" | format(register.offset) }}</dd>
    {% if register.port_idx_max > 0 %}
    <dt>Port index range</dt><dd>{{ "%d - %d" | format(register.port_idx_min, register.port_idx_max) }}</dd>
    {% endif %}
    {% if register.array_idx_max > 0 %}
    <dt>Array index range</dt><dd>{{ "%d - %d" | format(register.array_idx_min, register.array_idx_max) }}</dd>
    {% endif %}
    <dt>Portlist index</dt><dd>{{ "%d" | format(register.portlist_idx) }}</dd>
    <dt>Bit offset </dt><dd>{{ "%d" | format(register.bit_offset) }}</dd>
</dl>

{% if register.description or current_user.is_authenticated %}
<h3>Description</h3>
{{ register.description | markdown }}
{% if current_user.is_authenticated %}
<p class="edit"><a href="{{
    url_for('description_edit', platform=platform, itemtype='register', itemname=register.name) | lower
    }}">Edit</a></p>
{% endif %}
{% endif %}

<h3>Fields</h3>
<table>
<thead>
<tr>
    <th>LSB</th>
    <th>Bit size</th>
    <th>Field name</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{% for field in field_list %}
<tr>
    <td>{{ "%d" | format(field.lsb) }}</td>
    <td>{{ "%d" | format(field.size) }}</td>
    <td>{{ field.name | upper }}</td>
    <td>
        {{ field.description | markdown }}
        {% if current_user.is_authenticated %}
        <p class="edit"><a href="{{
            url_for('description_edit', platform=platform, itemtype='register', itemname=register.name, itemfield=field.name) | lower
            }}">Edit</a></p>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
