{% extends "base.html" %}
{% block title %}
    Realtek - Register table {{ platform }}
    {% if feature %} - {{ feature }} {% endif %}
{% endblock %}
{% block header %}
{{ super() }}
<h2>{{ platform }} register list{% if feature %}: {{ feature | upper }} {% endif %}</h2>
{% endblock %}

{% block content %}
{{ super() }}
<table class="overview">
<thead>
<tr>
    <th>Offset</th>
    <th>Name</th>
    <th>Feature</th>
</tr>
</thead>
<tbody>
{% for reg in register_list %}
<tr>
    <td class="num">{{ "%04x" | format(reg.offset) }}</td>
    <td><a href="{{ url_for('regfieldlist', platform=reg.family.name, register=reg.name) | lower }}">{{ reg.name }}</a></td>
    <td><a href="{{ url_for('reglist', platform=reg.family.name, feature=reg.feature.name) | lower }}">{{ reg.feature.name }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
