{% extends "base.html" %}
{% block title %}
    Realtek - Table info {{platform }} - {{ table.name | upper }}
{% endblock %}
{% block header %}
{{ super() }}
<h2>{{ platform }} table: {{ table.name | upper }}</h2>
{% endblock %}
{% block content %}
{{ super() }}
<h3>Details</h3>
<dl>
	<dt>Name</dt><dd>{{ table.name }}</dd>
	<dt>Size</dt><dd>{{ table.size }}</dd>
    <dt>Access type</dt><dd>{{ table.access_type }}</dd>
    <dt>Control register</dt>
    <dd><a href="{{ url_for('regfieldlist', platform=platform, register=table.ctrl_register.name.lower()) }}">
            {{ table.ctrl_register.name }}</a></dd>
    <dt>Data register</dt>
    <dd><a href="{{ url_for('regfieldlist', platform=platform, register=table.data_register.name.lower()) }}">
            {{ table.data_register.name }}</a></dd>
</dl>

{% if table.description %}
<h3>Description</h3>
{{ table.description | markdown }}
{% endif %}

<h3>Fields</h3>
<table>
<thead>
<tr>
	<th>LSB</th>
	<th>Bit size</th>
	<th>Field name</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{% for field in field_list %}
<tr>
	<td>{{ "%d" | format(field.lsb) }}</td>
    <td>{{ "%d" | format(field.size) }}</td>
    <td>{{ field.name | upper }}</td>
    <td>
        {{ field.description | markdown }}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
