{%- import 'linkto.html' as linkto -%}
<!doctype html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('realtek.static', filename='style.css') }}">
</head>

<body>
<header>
{% block header %}
<h1><a href="{{ url_for('realtek.index') }}">Realtek switch SoC docs</a></h1>
{% endblock %}
</header>
<article>
{% block content %}
{% endblock %}
</article>
<footer>
<p>{% if current_user.is_authenticated %}
{{ current_user.username }} <a href="{{ url_for('realtek.logout') }}">Log out</a>
{% else %}
<a href="{{ url_for('realtek.login') }}">Log in</a>
{% endif %}</p>
</footer>
</body>
</html>
