{% extends "base.html" %}
{% block title %}
    Realtek - Register docs
{% endblock %}
{% block content %}
{{ super() }}
<h2>Platforms</h2>
<div class="platforms">
{% for family in families %}
<div class="platform-block">
    <h3>{{ "RTL%04x" | format(family.id) }}: {{ family.name }}</h3>
    <ul>
        <li><a href="{{ url_for('realtek.featurelist', platform=family.name)  }}">Features</a></li>
        <li><a href="{{ url_for('realtek.reglist', platform=family.name)  }}">Registers</a></li>
        <li><a href="{{ url_for('realtek.tablelist', platform=family.name)  }}">Tables</a></li>
    </ul>
    {% if family.name in recently_changed and recently_changed[family.name].count() > 0 -%}
    {% with changes = recently_changed[family.name] -%}
    <h4>Last updates</h4>
    <ul>
    {% for obj in changes -%}
    <li>{{ linkto.link_to_described(obj[1]) }}
        on <span class="timestamp" title="{{ obj[0].strftime('%Y-%m-%d %H:%M:%S')}} (UTC)">{{ obj[0].date().isoformat() }}</span>
    </li>
    {% endfor -%}
    </ul>
    {% endwith -%}
{% endif -%}
</div>
{% endfor %}
{% if recent -%}
<div>
<h3>Recent changes</h3>
<ul>
    {% for obj in recent -%}
    <li>{{ linkto.link_to_described(obj[1]) }}
        on <span class="timestamp" title="{{ obj[0].strftime('%Y-%m-%d %H:%M:%S')}} (UTC)">{{ obj[0].date().isoformat() }}</span>
    </li>
    {% endfor -%}
</ul>
</div>
{% endif -%}
</div>
{% endblock %}
