{% extends "base.html" %}
{% block title %}
    Realtek - Register docs
{% endblock %}
{% block header %}
{{ super() }}
<h2>Platforms</h2>
{% endblock %}
{% block content %}
{{ super() }}
<ul>
{% for family in families %}
<li>{{ "RTL%04x" | format(family.id) }}: {{ family.name }}
    <ul>
    <li><a href="{{ url_for('realtek.featurelist', platform=family.name)  }}">features</a></li>
    <li><a href="{{ url_for('realtek.reglist', platform=family.name)  }}">registers</a></li>
    <li><a href="{{ url_for('realtek.tablelist', platform=family.name)  }}">tables</a></li>
    </ul>
</li>
{% endfor %}
</ul>
{% endblock %}
