<section>
<h3>Tables</h3>
<table class="overview">
<thead>
<tr>
    <th>Name</th>
    <th>Size</th>
    <th>Type</th>
    <th>Summary</th>
</tr>
</thead>
{% for table in tables -%}
{% if loop.previtem is undefined or loop.previtem.ctrl_register.name != table.ctrl_register.name -%}
<tbody>
    <tr><th colspan="4">{{ linkto.link_to_register(platform, table.ctrl_register) }}</th></tr>
{%- endif %}
<tr>
    <td>{{ linkto.link_to_table(platform, table) }}</td>
    <td class="num">{{ table.size }}</td>
    <td class="num">{{ table.access_type }}</td>
    <td class="inline-description">{{ table.description | summary | markdown }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</section>
