{% extends "base.html" %}
{% block title %}
    Realtek - Register table {{platform }} - {{ register.name | upper }}
{% endblock %}
{% block header %}
{{ super() }}
<h2>{{ platform }} register: {{ register.name | upper }}</h2>
{% endblock %}
{% block content %}
{{ super() }}
<h3>Details</h3>
<dl>
    <dt>Register name</dt><dd>{{ register.name }}</dd>
    <dt>Register offset</dt><dd class="hexnum">{{ "%04x" | format(register.offset) }}</dd>
    <dt>Feature</dt>
    <dd><a href="{{ url_for('realtek.featuredetail', platform=platform, feature=register.feature.name) | lower }}">{{ register.feature.name }}</a></dd>
    {% if register.port_idx_max > 0 %}
    <dt>Port index range</dt><dd>{{ "%d - %d" | format(register.port_idx_min, register.port_idx_max) }}</dd>
    {% endif %}
    {% if register.array_idx_max > 0 %}
    <dt>Array index range</dt><dd>{{ "%d - %d" | format(register.array_idx_min, register.array_idx_max) }}</dd>
    {% endif %}
    {% if register.array_idx_max > 0 or register.port_idx_max > 0 %}
    <dt>Portlist index</dt><dd>{{ "%d" | format(register.portlist_idx) }}</dd>
    <dt>Bit offset </dt><dd>{{ "%d" | format(register.bit_offset) }}</dd>
    {% endif %}
</dl>

{% if register.description or current_user.is_authenticated %}
<h3>Description</h3>
{{ register.description | markdown }}
{% if current_user.is_authenticated %}
<p class="edit"><a href="{{
    url_for('realtek.description_edit', platform=platform, itemtype='register', itemname=register.name) | lower
    }}">Edit</a></p>
{% endif %}
{% endif %}

<h3>Fields</h3>
<table class="fieldlist">
<thead>
<tr>
    <th>Name</th>
    <th>LSB</th>
    <th>Bits</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{% for field in field_list %}
<tr>
    <td>{{ field.name | upper }}</td>
    <td class="num">{{ "%d" | format(field.lsb) }}</td>
    <td class="num">{{ "%d" | format(field.size) }}</td>
    <td class="editable">
        <div class="description">
        {% if current_user.is_authenticated -%}
        <div class="edit"><a href="{{
            url_for('realtek.description_edit', platform=platform, itemtype='register', itemname=register.name, itemfield=field.name) | lower
            }}">Edit</a></div>
        {%- endif -%}
        {{ field.description | markdown }}
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% if register.tables %}
<h3>Control tables</h3>
<table class="fieldlist">
<thead>
<tr>
    <th>Name</th>
    <th>Type</th>
</tr>
</thead>
<tbody>
{% for table in register.tables %}
<tr>
    <td><a href="{{ url_for('realtek.tablefieldlist', platform=platform, table=table.name) | lower }}">{{ table.name }}</a></td>
    <td class="num">{{ table.access_type }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
