{% extends "base.html" %}
{% block title %}
    Realtek - Table info {{platform }} - {{ table.name | upper }}
{% endblock %}
{% block header %}
{{ super() }}
<h2>{{ platform }} table: {{ table.name | upper }}</h2>
{% endblock %}
{% block content %}
{{ super() }}
<h3>Details</h3>
<dl>
    <dt>Name</dt><dd>{{ table.name }}</dd>
    <dt>Feature</dt>
    <dd><a href="{{ url_for('realtek.featuredetail', platform=platform, feature=table.feature.name) | lower }}">{{ table.feature.name }}</a></dd>
    <dt>Size</dt><dd>{{ table.size }}</dd>
    <dt>Access type</dt><dd>{{ table.access_type }}</dd>
    <dt>Control register</dt>
    <dd><a href="{{ url_for('realtek.regfieldlist', platform=platform, register=table.ctrl_register.name.lower()) }}">
            {{ table.ctrl_register.name }}</a></dd>
    <dt>Data register</dt>
    <dd><a href="{{ url_for('realtek.regfieldlist', platform=platform, register=table.data_register.name.lower()) }}">
            {{ table.data_register.name }}</a></dd>
</dl>

{% if table.description or current_user.is_authenticated %}
<h3>Description</h3>
{{ table.description | markdown }}
{% if current_user.is_authenticated %}
<p class="edit"><a href="{{
    url_for('realtek.description_edit', platform=platform, itemtype='table', itemname=table.name) | lower
    }}">Edit</a></p>
{% endif %}
{% endif %}

<h3>Fields</h3>
<table class="fieldlist">
<thead>
<tr>
    <th>Name</th>
    <th>LSB</th>
    <th>Bits</th>
    <th>Description</th>
</tr>
</thead>
<tbody>
{% for field in field_list %}
<tr>
    <td>{{ field.name | upper }}</td>
    <td class="num">{{ "%d" | format(field.lsb) }}</td>
    <td class="num">{{ "%d" | format(field.size) }}</td>
    <td>
        <div class="description">
        {% if current_user.is_authenticated %}
        <div class="edit"><a href="{{
            url_for('realtek.description_edit', platform=platform, itemtype='table', itemname=table.name, itemfield=field.name) | lower
            }}">Edit</a></div>
        {{ field.description | markdown }}
        {% endif %}
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
